<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.dao.UserroleMapper">
  <resultMap id="BaseResultMap" type="com.qianfeng.entity.UserroleKey">
    <id column="uid" jdbcType="INTEGER" property="uid" />
    <id column="rid" jdbcType="INTEGER" property="rid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.qianfeng.entity.UserroleKey">
    delete from t_userrole
    where uid = #{uid,jdbcType=INTEGER}
      and rid = #{rid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qianfeng.entity.UserroleKey">
    insert into t_userrole (uid, rid)
    values (#{uid,jdbcType=INTEGER}, #{rid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qianfeng.entity.UserroleKey">
    insert into t_userrole
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="rid != null">
        rid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="rid != null">
        #{rid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>